/* Main */
@import "../../../../app/assets/styles/vars";
@import "../../../../app/assets/styles/mixins";
.main {
    padding-right: $sidebar-width;

    padding-top: 10rem;
    padding-bottom: 10rem;

    &--home {
        padding-top: 0;
    }
    @include media($tablet-br-1) {
        padding-right: 0;
    }

    @include media($tablet-br-2) {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
}