/* Device Evaluation */
@import "../../../../app/assets/styles/vars";
@import "../../../../app/assets/styles/mixins";

.evaluation {

    display: flex;
    align-items: end;

    &__text {
        line-height: 1.1;
        color: $gray;
        font-size: 1.8rem;
        margin-right: 0.5rem;
    }

    &__icons {
    display: flex;
    gap: .3rem;
    }


    &__icon {
        position: relative;
        overflow: hidden;
        fill: $gray;
        width: 2rem;
        height: 2rem;

        &.active {
            fill: $orange;
        }
        
    }


}