$font-text: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff;
$sidebar-width: 300px;
$block-shadow: 0 5px 10px rgba(#000, .7);
$block-radius: 10px;

$black: #000;
$white: #fff;
$primary: #0d0756;
$secondary: #200b89;
$orange: #dc5203;
$red: rgb(194, 34, 34);
$light-blue: #2281aa;
$gray: rgb(93, 93, 98);

/* Media */
$container-br: 1230px;
$tablet-br-1: 991px;
$tablet-br-2: 767px;
$mobile-br: 414px;